@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,500);

* { outline: 0; }

body {
    margin: 2em 0;
    color: whitesmoke;
}


form[name="account-selection"], .centering-wrapper {
    text-align: center;
}

.centering-wrapper > * {
    text-align: initial;
}

form label {
    font-size: 17px;
    text-shadow: 1px 0 2px rgba(0, 0, 0, 0.4);
}

form select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    margin-left: 5px;
    padding: 3px calc(8px + 26px) 3px 6px;  /* calc: 8px actual padding, 26px arrow area */
    /* Icon made by 'Freepik' from www.flaticon.com is licensed by CC 3.0 BY */
    /* http://www.flaticon.com/free-icon/down-arrow_266 */
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.633 20.633"><path d="M10.79 15.617l9.648-9.646c.133-.13.195-.3.195-.472s-.062-.344-.195-.473l-.012-.012c-.125-.127-.295-.195-.472-.195h-4.682c-.18 0-.348.068-.473.195l-4.48 4.48-4.48-4.48c-.13-.127-.3-.195-.474-.195H.684c-.182 0-.35.068-.475.195l-.014.012C.068 5.148 0 5.322 0 5.498s.068.348.196.473l9.648 9.647c.264.263.686.263.946 0z" fill="%233e94ec"/></svg>') no-repeat  right 5px center, linear-gradient(to left, hsl(215, 100%, 92%) 26px, transparent 26px) rgb(250,250,250);  /* 26px: 16px icon width, 5px space left & right */
    background-size: 16px, 100%;
    border: 2px solid hsl(220, 65%, 82%);
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.1);
    transition: all 150ms;
}

form select:hover {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.633 20.633"><path d="M10.79 15.617l9.648-9.646c.133-.13.195-.3.195-.472s-.062-.344-.195-.473l-.012-.012c-.125-.127-.295-.195-.472-.195h-4.682c-.18 0-.348.068-.473.195l-4.48 4.48-4.48-4.48c-.13-.127-.3-.195-.474-.195H.684c-.182 0-.35.068-.475.195l-.014.012C.068 5.148 0 5.322 0 5.498s.068.348.196.473l9.648 9.647c.264.263.686.263.946 0z" fill="%23006df0"/></svg>'), linear-gradient(to left, hsl(215, 100%, 92%) 26px, transparent 26px);
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0, 0.2);
}


/* General table layout */

table.bank-statement {
    display: inline-table;
}

.bank-statement td {
    vertical-align: top;
}

.bank-statement tr:first-of-type td {
    padding-bottom: 10px;
    text-align: right;
}

.bank-statement td:first-of-type {
    text-align: center;
}

.bank-statement td:last-of-type {
    text-align: right;
}

.bank-statement td.income {
    color: hsl(120, 60%, 33%);
}

.bank-statement td.expense {
    color: red;
}


/* Table design by Ellen Lassetter:
 * http://codepen.io/alassetter/pen/cyrfB/
 */

body {
    background-color: #3e94ec;
    font-family: "Roboto", helvetica, arial, sans-serif;
    /*text-rendering: optimizeLegibility;*/
}

table {
    border-radius: 3px;
    border-collapse: collapse;
    /*margin: auto;*/
    min-width: 30em;
    /*width: 100%;*/
    margin-top: 1.5em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

caption {
    padding: 0.5em 1.1rem;  /* padding-right: same as td, 1.1rem; */
    font-size: 1.2em;
    font-weight: 500;
    text-align: right;
    text-shadow: 1px 0 2px rgba(0, 0, 0, 0.6);
}

th {
    color: #D5DDE5;
    background: #1b1e24;
    /*border-bottom: 4px solid #9ea7af;*/
    border-right: 1px solid #343a45;
    font-size: 1.4em;
    font-weight: 100;
    padding: 20px;
    /*vertical-align: middle;*/
}

th:first-child {
    border-top-left-radius: 3px;
}

th:last-child {
    border-top-right-radius: 3px;
    border-right: none;
}

tr {
    border-bottom: 1px solid #C6C8D6;
    color: #666B75;
    /*font-weight: normal;*/
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
/*
tr:hover td {
    background: #4E5066;
    color: #FFFFFF;
    border-top: 1px solid #22262e;
    border-bottom: 1px solid #22262e;
}
*/
tr:first-child {
    border-bottom: none;
}

tr:last-child {
    border-bottom: none;
}

tr:nth-child(even) td {
    background: #EEEEEE;
}
/*
tr:nth-child(even):hover td {
    background: #4E5066;
}
*/
tr[contenteditable] {
    height: 55px;
    transition: height 0.2s;
}

tr[contenteditable].inactive {
    height: 0;
    cursor: pointer;
}

tr[contenteditable].inactive td {
    padding: 4px 1em;
    background: #C1C3D1;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}

td {
    background: #FFFFFF;
    padding: 0.95em 1.1rem;
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.2em;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
    transition: padding 0.4s, background 0.4s;
}

td:nth-child(2) {
    padding-right: 1.3em;
}

td:last-child {
    border-right: 0;
}


/* Tooltip */

.tooltip {
    display: none;
    position: absolute;
}

.arrow-shape {
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 10px solid #777;
}

.tooltip-content {
    max-width: 270px;
    position: relative;
    top: -21px;
    margin-left: 10px;
    padding: 0.4em 0.6em;
    background: #445;
    font: 14px/1.2rem Arial;
    color: #eee;
    /*letter-spacing: 0.69px;*/
    border: 2px solid #999;
    border-right-color: #757476;
    border-bottom-color: #706F71;
    box-shadow: 2px 3px 5px -1px rgba(0,0,0, 0.5);
}

kbd {
    display: inline-block;
    margin: 1px 2px 0;
    padding: 1px 5px 0;
    background-color: rgba(192,192,192, 0.25);
    font: 13px Arial, sans-serif;
    color: rgba(255,255,255, 0.8);
    text-shadow: 0 1px 0 rgba(0,0,0, 0.2);
    border: thin solid #bbb;
    border-top-color: #ddd;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 #eee;
}